@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;600;700;900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Square+Peg&display=swap");

$primary: #00b9bc;
$secondary: #8a61a9;
$info: #65e0dc;
$success: #66cc66;
$warning: #ff9933;
$danger: #ff3333;
$dark: #222222;
$light: #f5f5f5;

html,
body,
#root {
  height: 100%;
}

$font-family-base: "Barlow", Arial, sans-serif;

.font-script {
  font-family: "Square Peg", cursive;
}

$navbar-dark-color: $light;
$navbar-dark-hover-color: $light;
$navbar-dark-active-color: #ffffff;
$navbar-dark-toggler-border-color: transparent;

$body-bg: $light;

$input-group-addon-bg: darken($light, 6%);

$nav-link-font-weight: bold;
$nav-link-color: white;
$nav-link-hover-color: $primary;

$font-weight-lighter: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$headings-font-weight: 700;
$headings-margin-bottom: 0.75em;

$input-bg: white;

$link-decoration: none;

$offcanvas-horizontal-width: 350px;

$card-border-radius: 8px;

ul.spaced > li,
ol.spaced > li {
  margin-bottom: 0.85em;
}

.minHeight100 {
  min-height: 100%;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

.offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
}

@include media-breakpoint-up(lg) {
  .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
}
